.zero{
background-image: radial-gradient(
    at bottom left,
    orange,
    white
);
text-align: center;
}
.one{
    background-image: radial-gradient(
        at bottom right,
        orange,
        white
    );
}
h1{
    font-size: 3vw;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}

