p{
    font-family: cursive;
    font-size: 2vw;
}
* {
    box-sizing: border-box;
    margin: 50px;
}
div {
/*width: 850%;
height: 30rem; */
background: linear-gradient(#413815 0%, #50c4e4 100%);
padding: 1rem;
color: white;
margin: 0 auto;
text-align: center;
}
.two{
    background: linear-gradient(#59c4e4 0%, #4138f5 100%);
    transform-origin: top right;
    transform:  skew(15deg);
}

.three{
    transform-origin: bottom right;
    transform: skew(345deg);
}

.four{
background: linear-gradient(#59c4e4 0%, #4138f5 100%;)

}
.zero{
background-image: radial-gradient(
    at bottom left,
    orange,
    white
);
}
.one{
    background-image: radial-gradient(
        at bottom right,
        orange,
        white
    );
}
h1{
    font-size: 3vw;
}